<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: head">
    <meta charset="UTF-8" />
    <title>Home</title>
</head>
<body>
<nav th:replace="fragments/admin-navbar :: admin-navbar" />


<div class="body-div">
    <div class="page-header category-header"><h1>Edit Categories</h1></div>

    <div class="cat-dept-wrapper">
        <h3>Add Category</h3>
        <h4>Newly added categories will go to the bottom of the list.</h4>
        <form th:method="post" th:object="${category}" th:action="@{/categories}">
            <label>Category Name: </label>
            <input id="category"  th:field="*{category}"/>
            <br/>
            <button class="submit">Submit</button>
        </form>
        <br/>
        <br/>
        <div>
            <h3>Edit Category</h3>
            <table>
                <tr>
                    <th>Category</th>
                    <th>Delete</th>
                </tr>
                <tr th:each="category : ${allCategories}">
                    <td th:text="${category.category}"></td>
                    <td><a th:href="@{'/categories/' + ${category.category} + '/delete-prompt'}"><button>Delete</button></a></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<nav th:replace="fragments/footer :: footer" />

</body>
</html>