<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head></head>
<body>

<nav th:fragment="admin-navbar" class="nav-custom">

    <div class="menu-icon"><img th:src="@{/images/menu-icon.svg}"/></div>
    <div class="x-icon"><img width="100%" th:src="@{/images/x-circle.svg}"/></div>





    <div sec:authorize="isAuthenticated()">
        <div class="nav-div">
            <div class="extended-nav">
                <ul>
                    <p>You currently have admin rights.</p>
                    <li><a href="/" class="navbar-link">Home</a></li>
                    <li><a href="/rep-admin-dashboard" class="navbar-link">Dashboard</a></li>
                    <li><a href="/create-case" class="navbar-link">Create Case</a></li>
                    <li><a href="/customer-queue" class="navbar-link">Customer Queue</a></li>
                    <li><a href="/reports" class="navbar-link">Reports</a></li>
                    <li><a href="/user/{id}/edit" class="navbar-link">My Profile</a></li>
                    <li><a href="/user/{id}/edit" class="navbar-link">Rep Profiles</a></li>
                    <li><a href="/about" class="navbar-link">About</a></li>
                    <li><a href="/create-user" class="navbar-link">Create User</a></li>
                    <li><a href="/departments" class="navbar-link">Departments</a></li>
                    <li><a href="/categories" class="navbar-link">Categories</a></li>
                    <form th:action="@{/logout}" th:method="post">
                        <button>Logout</button>
                    </form>
                </ul>
            </div>
        </div>


    </div>

    <div sec:authorize="isAnonymous()">

        <div class="nav-div">
            <div class="extended-nav">
                <ul>
                    <li><a href="/" class="navbar-link">Home</a></li>
                    <li><a href="/create-case" class="navbar-link">Create Case</a></li>
                    <li><a href="/customer-queue" class="navbar-link">Customer Queue</a></li>
                    <li><a href="/login" class="navbar-link">Rep/Admin Login</a></li>
                    <li><a href="/about" class="navbar-link">About</a></li>
                </ul>
            </div>
        </div>
    </div>

</nav>
</body>
</html>
