<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<description>
    <div th:fragment="footer">
        <footer></footer>
        <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
        <!--<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>-->
        <script type="text/javascript" src="@{/static/js/script.js}"></script>
        <script type="text/javascript" src="/static/js/script.js"></script>
    </div>
</description>
</html>
