<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: head">
    <meta charset="UTF-8" />
    <title>Home</title>
</head>
<body>
<nav th:replace="fragments/rep-navbar :: rep-navbar" />

<div class="body-div">


    <div class="page-header rep-admin-login-header"><h1>Login here</h1></div>
    <div class="login-wrapper">
        <h2>This is login for <b>HR Representatives and HR Admins.</b></h2>
        <h3>If you are a guest, please submit a request to be seen by an HR Representative <a href="/create-case">here.</a></h3>

        <h1>Log In</h1>
        <div th:if="${param.error}">

           

            <br/><br/><span class="invalid-username-password">Oops! Invalid Username or Password.</span><br/><br/>

        </div>
        <div th:if="${param.logout}">
            <br/><br/> <span class="logout-success">You have been successfully logged out.</span><br/><br/>
        </div>

        <form class="white-text login-form" th:action="@{/login}" method="post">
            <label for="username">Username</label>

            <input required="required" placeholder="Enter username here" id="username" name="username" type="text" /><br/><br/>
            <label for="password">Password</label>
            <input required="required" placeholder="password" id="password" name="password" type="password" /><br/><br/>
            <button type="submit" name="action"><i class="fas fa-arrow-right"></i>

                <i class="material-icons right"></i>
            </button>
            <br/>
        </form>
    </div>
</div>


<nav th:replace="fragments/footer :: footer" />
</body>
</html>