<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: head">
    <meta charset="UTF-8" />
    <title>Home</title>
</head>
<body>
<nav th:replace="fragments/navbar :: myNav" />

<div class="right-div">
    <h1>This is login for <b>HR Representatives and HR Admins.</b></h1>
    <h3>If you are a guest, please submit a request to be seen by an HR Representative <a href="/create-case">here.</a></h3>

    <h1>Log In</h1>
    <div th:if="${param.error}">
        Invalid Username and Password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>

    <form class="white-text login-form" th:action="@{/login}" method="post">
        <label for="username">Username</label>
        <input placeholder="Enter username here" id="username" name="username" type="text" />
        <label for="password">Password</label>
        <input placeholder="password" id="password" name="password" type="password" />
        <button type="submit" name="action">Log In
            <i class="material-icons right"></i>
        </button>
    </form>





</div>


<nav th:replace="fragments/footer :: footer" />
</body>
</html>