<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">


<head th:replace="fragments/header :: head">
    <meta charset="UTF-8" />
    <title>Home</title>
</head>
<body>
<nav th:replace="fragments/navbar :: myNav" />

<div class="body-div">
    <div class="dashboard-wrapper">
        <h1>Welcome, <span th:text="${user.getUsername()}"/>!</h1>
    <div>
        <h1>Open Cases</h1>
        <table>
            <tr>
                <th>Customer Name</th>
                <th>Department</th>
                <th>Category</th>
                <th>Sign In Time</th>
                <th>Delete</th>
                <th>Assign</th>
            </tr>
            <tr th:each="case : ${allCases}">
                <td th:text="${case.customer_name}"></td>
                <td th:text="${case.department.getDepartment()}"></td>
                <td th:text="${case.category.getCategory()}"></td>
                <td th:text="${case.created_at}"></td>
                <td><a  th:href="@{'/case/' + ${case.getId()} + '/delete'}"><button>Delete</button></a></td>
                <td><a th:href="@{'/case/' + ${case.getId()} + '/assign'}"><button>Assign</button></a></td>
            </tr>
        </table>
        </div>
        <div>
            <h1 th:text="${user.getUsername()} + 'Cases'"></h1>
            <table>
                <tr>
                    <th>Customer Name</th>
                    <th>Department</th>
                    <th>Category</th>
                    <th>Sign In Time</th>
                    <th>Delete</th>
                    <th>Unassign</th>
                </tr>
                <tr th:each="case : ${user.getCases()}">
                    <td th:text="${case.customer_name}"></td>
                    <td th:text="${case.department.getDepartment()}"></td>
                    <td th:text="${case.category.getCategory()}"></td>
                    <td th:text="${case.created_at}"></td>
                    <td><a th:href="@{'/case/' + ${case.getId()} + '/delete'}"><button>Delete</button></a></td>
                    <td><a th:href="@{'/case/' + ${case.getId()} + '/unassign'}"><button>Unassign</button></a></td>
                    <td><a th:href="@{'/case/' + ${case.getId()} + '/complete'}"><button>Complete</button></a></td>
                </tr>
            </table>
        </div>
        <div>
            <h1>Closed Cases</h1>
            <table>
                <tr>
                    <th>Customer Name</th>
                    <th>Department</th>
                    <th>Category</th>
                    <th>Sign In Time</th>
                    <th>Delete</th>
                    <th>Open</th>
                </tr>
                <tr th:each="case : ${closedCases}">
                    <td th:text="${case.customer_name}"></td>
                    <td th:text="${case.department.getDepartment()}"></td>
                    <td th:text="${case.category.getCategory()}"></td>
                    <td th:text="${case.created_at}"></td>
                    <td><a th:href="@{'/case/' + ${case.getId()} + '/delete'}"><button>Delete</button></a></td>
                    <td><a th:href="@{'/case/' + ${case.getId()} + '/open'}"><button>Open</button></a></td>
                </tr>
            </table>
        </div>
    </div>
</div>



<nav th:replace="fragments/footer :: footer" />



</body>
</html>
