<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: head">
    <meta charset="UTF-8" />
    <title>Home</title>
</head>
<body>
<nav th:replace="fragments/navbar :: myNav" />

<div class="right-div">
    <h1>Create a new user</h1>
    <form th:method="post" th:object="${user}" th:action="@{/create-user}">
        <label>First Name</label>
        <input id="first_name"  th:field="${user.firstName}"/>
        <br/>
        <label>Last Name</label>
        <input id="last_name" th:field="${user.lastName}"/>
        <br/>
        <label>Username</label>
        <input id="username" th:field="${user.username}"/>
        <br/>
        <label>Password</label>
        <input type="password" id="password" th:field="${user.password}"/>
        <br/>
        <label>User Privileges:</label>
        <br/>
        Admin <input type="radio" id="isAdmin" value="true" th:field="${user.admin}"/><br/>
        Representative <input type="radio" id="noAdmin" value="false" th:field="${user.admin}"/><br/>
        <br/>
        <button>Submit</button>
    </form>





</div>


<nav th:replace="fragments/footer :: footer" />
</body>
</html>