<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: head">
    <meta charset="UTF-8" />
    <title>Home</title>
</head>
<body>
<div th:if="${user.isAdmin()}==true">
    <nav th:replace="fragments/admin-navbar :: admin-navbar" />
</div>

<div th:if="${user.isAdmin()}==false">
    <nav th:replace="fragments/rep-navbar :: rep-navbar" />
</div>


<div class="body-div">
    <div class="page-header edit-user-header"><h1>Edit</h1></div>
    <div class="create-user-wrapper">
        <h2 class="themed-header">Edit User</h2><br/>
    <h1 th:text="'User: ' + ${userProfile.firstName} + ' ' + ${userProfile.lastName}"></h1>
        <br/>
        <br/>

        <br/>
        <form th:method="post" th:action="@{'/user/'+${userProfile.id}+'/edit'}">
            <label th:text="'First Name: ' + ${userProfile.firstName}"></label>
            <input id="firstName" name="firstName" type="text"/>
            <br/>
            <label th:text="'Last Name: ' + ${userProfile.lastName}"></label>
            <input id="lastName" name="lastName" type="text"/>
            <br/>
            <label th:text="'Username: ' + ${userProfile.username}"></label>
            <input id="username" name="username" type="text"/>
            <br/>
            <label>Password Reset</label>
            <input id="password" name="password" type="text"/>
            <br/>
            <button>Submit</button>
        </form>
    </div>
</div>











<nav th:replace="fragments/footer :: footer" />

</body>
</html>