

@media only screen and (min-width: 200px) {


    /*-------------------------------------------------------------------------*/
    /*-----------------------BODY CSS AND VARIABLE DECLARATION-----------------*/
    /*-------------------------------------------------------------------------*/
    body {

        --color1: #F5F3F4;
        --color2: #789BA5;
        --color3: #ECC919;
        --color4: #e49f9b;
        --color5: #263B65;
        --color6: #9e7775;
        --color7: #8C487E;
        --color8: #aebae7;
        --color9: #F3D9C3;
        --color10: #506fa2;
        --color11: #077E8C;
        --color12: #0E6576;
        --color13: #1C182F;

        margin: 0 auto;
        padding: 0;
        width: 100%;
        font-family: 'Roboto', sans-serif;
        /*background-color: var(--color5);*/
        background-color: white;
    }

    .nav-div {
        background-color: var(--color13);
        height: 100px;
        width: 100%;
        position: fixed;
        z-index: 20;
        bottom: 0;
        margin-top: 200px;
    }
    .hide-big-nav,
    .show-big-nav {
        display: none;
    }
    .extended-nav {
        display: none;
        text-align: right;
    }
    .extended-nav li {
        list-style-type: none;
        padding: 7px 20px;
    }
    .extended-nav a {
        font-size: 23px;
        text-decoration: none;
        text-transform: uppercase;
    }
    .extended-nav button {
        font-size: 23px;
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        background-color: var(--color13);
        border: none;
        padding-right: 20px;
    }
    .extended-nav p {
        font-size: 25px;
        color: var(--color9);

    }
    .extended-nav a:hover,
    .extended-nav button:hover
    {
        color: var(--color8);

    }
    .navbar-link {
        color: white;
    }
    .menu-icon {
        width: 50px;
        position: fixed;
        height: 50px;
        top: 10px;
        right: 10px;
        z-index: 200;
        border-radius: 50%;
        opacity: .8;
        color: var(--color8);
    }
    .x-icon {
         width: 50px;
         position: fixed;
         display: none;
         height: 50px;
         top: 10px;
         right: 10px;
         z-index: 200;
         opacity: .8;
         border-radius: 50%;
        color: var(--color8);

     }

    .body-div {
        width: 100%;
        margin: 0 auto;
        background-color: white;
    }


    /*-------------------------------------------------------------------------*/
    /*--------------------------/INDEX (LANDING PAGE)--------------------------*/
    /*-------------------------------------------------------------------------*/

    .landing-page-wrapper {
        width: 100%;
        margin: 0 auto;
        /*background-color: var(--color5);*/
        background-color: white;
        color: var(--color1);
    }
    .landing-page-image-1 {
        width: 100%;
        height: 255px;
        background-image: url("../images/hr-queue-7.jpeg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .intro-message {
        text-align: center;
        position: absolute;
        top: -4px;
        width: 50%;
    }
    .intro-message h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 8vw;
        color: var(--color10);
        padding-top: 50px;
        line-height: 29px;
        max-width: 300px;
        margin: 0 auto;
        padding-bottom: 20px;
        padding-left: 10px;
        border-bottom: 4px solid var(--color13);
    }
    .intro-message h3 {
        padding-top: 10px;
        color: black;
    }
    .message-wrapper {
        position: relative;
        /*background-color: var(--color1);*/
        margin: 260px auto;
    }
    .terminal-wrapper {
        background-image: linear-gradient(45deg, var(--color9), #dbc2ad);
    }
    .sign-in-wrapper {
        background-image: linear-gradient(45deg, var(--color8), #9daad3);
     }
    .display-queue-wrapper {
        background-color: var(--color4);
        background-image: linear-gradient(45deg, var(--color4), );
    }
    .message-wrapper h1 {
        font-size: 62px;
        margin: 0;
        position: absolute;
        top: -40px;
        left: 13px;
        color: black;
    }
    .message-wrapper p {
        padding: 50px 20px 10px 20px;
        color: black;
    }
    .landing-page-button {
        margin: 0 auto;
        text-align: center;
        padding: 40px auto 100px auto;
    }
    .landing-page-button a {
        font-size: 30px;
        padding: 10px;
        color: white;
        display: inline-block;
        background-color: var(--color13);
        border-radius: 3px;
        text-decoration: none;
        margin: 40px auto 100px auto;
        box-shadow: 4px 5px 8px black;
    }
    .land-page-description {
        font-family: 'Poppins', sans-serif;
        font-size: 22px;
        text-align: center;
        line-height: 33px;
        padding-left: 35px;
        z-index: 10;
        width: 80%;
        margin-top: 2vh;
        font-weight: bolder;
        /*color: var(--color10);*/
        color: white;
        text-shadow: 1px 7px 14px black;
    }
    .about-us {
        text-align: center;
        padding-right: 20px;
        font-size: 40px;
        text-shadow: 5px 8px 13px black;
    }
    .about-us ul {
        list-style-type: none;
    }
    .about-us a {
        text-decoration: none;
        color: white;
        padding-bottom: 20px;
        list-style-type: none;
    }





    /*-------------------------------------------------------------------------*/
    /*----------------------------------FORMS STYLING--------------------------*/
    /*-------------------------------------------------------------------------*/


    select {
        width: 150px;
    }
    .login-form button {
        background-color: var(--color13);
        font-size: 22px;
        color: white;
    }
    .login-form button:hover {
        background-color: var(--color10);
        color: white;
    }
    input[type=text],
    input {
        border: none;
        border-bottom: 1px solid black;
        background: transparent;

    }
    input[type=password] {
        border: none;
        border-bottom: 1px solid black;
    }
    input:focus,
    select:focus,
    textarea:focus,
    button:focus {
        outline: none;
    }

    .login-form button {
        background-color: var(--color13);
        font-size: 22px;
        color: white;
    }
    .login-form button:hover {
        background-color: var(--color10);
        color: white;
    }









    /*-------------------------------------------------------------------------*/
    /*----------------------------------EACH PAGE'S HEADER---------------------*/
    /*-------------------------------------------------------------------------*/

    .page-header {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 300px;
        margin-bottom: 100px;
        color: var(--color9);
        /*color: white;*/
        text-shadow: 1px 1px 9px black;
    }


    .page-header h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 70px;
        line-height: 54px;
        margin: 0 auto;
        text-align: center;
        padding: 215px 0 0 0;
    }




    /*-------------------------------------------------------------------------*/
    /*----------------------------------CUSTOMER-QUEUE-------------------------*/
    /*-------------------------------------------------------------------------*/

    .customer-queue {
        font-size: 13px;
    }
    .customer-queue-header {
        background-image: url("../images/sands-of-time.jpg");

    }
    .customer-queue-wrapper {
        text-align: center;
        width: 90%;
        margin: 0 auto;
        font-size: 10px;
        padding-bottom: 200px;
    }
    table {
        margin: 0 auto;
    }
    th {
        font-size: 25px;
    }
    .customer-queue-wrapper span
    {
        margin: 5px 40px;
    }

    .est-wait-time {
        color: red;
    }


    /*-------------------------------------------------------------------------*/
    /*----------------------------------REP/ADMIN LOGIN------------------------*/
    /*-------------------------------------------------------------------------*/


    .login-wrapper {
        text-align: center;
        width: 80%;
        margin: 0 auto 100px auto;
        padding-bottom: 100px;

    }
    .login-wrapper h1 {
        margin: 30px auto 21px auto;
    }
    .rep-admin-login-header {
        background-image: url("../images/hr-queue-2.jpeg");
    }
    .invalid-username-password {
        color: red;
    }
    .logout-success {
        color: green;
    }


    /*-------------------------------------------------------------------------*/
    /*--------------------------------REP/ADMIN DASHBOARD----------------------*/
    /*-------------------------------------------------------------------------*/

    .dashboard-wrapper {
        text-align: center;
        width: 80%;
        margin: 0 auto;
    }


    /*-------------------------------------------------------------------------*/
    /*----------------------------------CREATE CASE PAGE-----------------------*/
    /*-------------------------------------------------------------------------*/



    .create-case-form {
        margin-top: 50px;
    }
    /*.create-case-form label {*/
        /*font-size: 20px;*/
        /*text-transform: uppercase;*/
    /*}*/
    #department,
    #category
    {
        margin: 20px auto;
    }
    .create-case-wrapper {
        text-align: center;
        width: 80%;
        margin: 0 auto;
    }
    .create-case-header {
        background-image: url("../images/hr-queue-8.jpeg");
    }
    #name-error-message,
    #email-error-message,
    #phone-error-message {
        color: red;
    }

    .create-case-form-container select{
        width: 150px;
        border: 1px solid black;
        position: relative;
        z-index: 99;
        background: none;
    }

    #customer_comment {
        width: 50%;
        margin: 0 auto;
        height: 100px;
        box-shadow: 4px 4px 9px -3px black;
    }
    #submit-case-button {
        margin-bottom: 200px;
        background-color: var(--color13);
        font-size: 22px;
        color: white;
    }
    #submit-case-button:hover {
        background-color: var(--color10);
        color: white;
    }

    /*-------------------------------------------------------------------------*/
    /*----------------------------------CREATE USER PAGE-----------------------*/
    /*-------------------------------------------------------------------------*/
    .create-user-header {
          background-image: url("../images/hr-queue-10.jpeg");
      }
    .edit-user-header {
        background-image: url("../images/hr-queue-10.jpeg");
    }
    .create-user-wrapper {
        text-align: center;
        width: 80%;
        margin: 0 auto;
    }
    .create-user-wrapper input,
    .create-user-wrapper label
    {
        margin: 20px 5px;
    }
    .create-user-wrapper form {
        margin-bottom: 200px;
    }
    .create-user-wrapper button {
        background-color: var(--color13);
        font-size: 22px;
        color: white;
    }
    .create-user-wrapper button:hover {
        background-color: var(--color10);
        color: white;
    }



    /*-------------------------------------------------------------------------*/
    /*-------------------------------VIEW ALL USERS PAGE-----------------------*/
    /*-------------------------------------------------------------------------*/
    .all-users {
        text-align: center;
        margin-bottom: 200px;
    }
    .all-users th {

    }
    .all-users td {
        padding: 6px 20px;
    }
    .all-users button {
        background-color: var(--color6);
        font-size: 22px;
        color: white;
    }
    .all-users button:hover {
        background-color: var(--color9);
        color: black;
    }

    /*-------------------------------------------------------------------------*/
    /*----------------------------------REPORTS PAGE---------------------------*/
    /*-------------------------------------------------------------------------*/
    .quick-reports {
        width: 90%;
        margin: 10px;
        height: 50vm;
        background-color: var(--color4);
        color: white;
    }

    /*-------------------------------------------------------------------------*/
    /*---------------------CATEGORIES/DEPARTMENTS PAGES------------------------*/
    /*-------------------------------------------------------------------------*/

    .category-header {
        background-image: url("../images/hr-queue-6.jpeg");
    }


    .department-header {
        background-image: url("../images/hr-queue-3.jpeg");
    }
    .cat-dept-wrapper {
        text-align: center;
        margin: 0 auto;
        width: 80%;
        padding-bottom: 100px;
    }
    .department-header h1 {
        font-size: 30px;
    }
    .cat-dept-wrapper h3 {
        font-size: 40px;
    }
    .cat-dept-wrapper table {
        text-align: left;
        margin-bottom: 100px;
    }
    /*.cat-dept-wrapper table th {*/
       /*text-align: justify;*/
    /*}*/
    .cat-dept-wrapper table td {
        padding: 10px 30px 5px 0;
    }
    .cat-dept-wrapper button {
        background-color: var(--color13);
        font-size: 22px;
        color: white;
    }
    .cat-dept-wrapper button:hover {
        background-color: var(--color10);
        color: white;
    }





    /*-------------------------------------------------------------------------*/
    /*----------------------------------ABOUT US PAGE--------------------------*/
    /*-------------------------------------------------------------------------*/


    .about-us-wrapper {
        width: 100%;
        margin: 0;
    }
    .about-us-header {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        height: 250px;
        background-color: var(--color13);
    }
    .about-us-header a {
        text-decoration: none;
        text-transform: uppercase;
        color: var(--color9);
    }
    .about-us-hidden-message {
        opacity: 0;
    }
    .show-more,
    .show-less {
        color: var(--color13);
        font-size: 40px;
        margin: 20px auto;
    }
    .description button {
        background-color: var(--color13);
        font-size: 22px;
        color: white;
    }
    .description button:hover {
        background-color: var(--color10);
        color: white;
    }
    }
    .fa-arrow-down {
        font-size: 40px;
    }
    .description {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        font-family: 'Poppins', sans-serif;
    }
    .description h4 {
        font-size: 24px;
    }
    .about-us-header h1 {
        font-family: 'Poppins', sans-serif;
        display: inline-block;
        padding-top: 50px;
        margin: 0 auto;
        max-width: 700px;
        font-size: 50px;
        color: var(--color8);
        border-bottom: 3px solid var(--color10);
        text-align: center;

    }
    .process-team a {
        display: inline-block;
        padding: 15px;
        color: var(--color1);
    }
    .about-us-header h6 {
        font-family: 'Roboto', sans-serif;
        margin: 0 auto;
        padding-top: 20px;
    }
    .the-process {
        width: 100%;
        background-color: var(--color8);
    }
    .the-process h1 {
        margin: 0;
        font-size: 45px!important;
        top: -29px!important;
    }

    .about-us-img-wrapper {
        width: 100%;
        margin: 0 auto;
    }
    .about-us-img1,
    .about-us-img2,
    .about-us-img3,
    .about-us-img4,
    .about-us-img5,
    .about-us-img6,
    .about-us-img7,
    .about-us-img8{
        width: 100%;
        margin: auto;
        height: 271px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left;
    }
    .about-us-img1 {
        background-image: url("../images/aboutus-tables.jpg");
    }
    .about-us-img2 {
        background-image: url("../images/aboutus-tables.png");
    }
    .about-us-img3 {
        background-image: url("../images/aboutus-story.png");
    }
    .about-us-img4 {
        background-image: url("../images/aboutus-wireframing.jpg");
    }
    .about-us-img5 {
        background-image: url("../images/aboutus-pat.jpg");

    }
    .about-us-img6 {
        background-image: url("../images/aboutus-happyadrien.jpg");
    }
    .about-us-img7 {
        background-image: url("../images/aboutus-jer.jpg");
    }
    .about-us-img8 {
        background-image: url("../images/aboutus-pat2.jpg");
    }

    .the-team {
        margin-top: 200px;
        width: 100%;
        background-color: var(--color9);
    }
    .the-team h1 {
        font-size: 45px;
        top: -31px;
    }
    .everyone-wrapper {
        padding-top: 1px;
        color: white;
    }
    .each-person-wrapper {
        width: 100%;
        margin: 80px auto;
        background-color: var(--color6);
        padding: 30px 0 40px;
    }
    .each-person-wrapper h2 {
        font-family: 'Poppins', sans-serif;
        text-align: center;
        font-size: 56px;
        /*color: var(--color8);*/
        color: white;
        margin: 0 auto;
        line-height: 50px;
        border-bottom: 3px solid var(--color9);
        padding-bottom: 20px;
        max-width: 300px;

    }
    .each-person-img {
        width: 90%;
        margin: 40px auto;
        height: 300px;

        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .each-person-desc {
        width: 80%;
        background-color: var(--color13);
        height: 150px;
        margin: 0 auto;
    }
    .adrien-img {
        background-image: url("../images/adrien.jpg");
    }
    .jeremy-img {
        background-image: url("../images/jer.jpeg");
    }
    .patrick-img {
        background-image: url("../images/pat.jpg");
    }












@media only screen and (min-width: 500px) {
    .intro-message h1 {
        max-width: 500px;
        font-size: 8vw;
        line-height: 42px;
    }
    .the-process h1 {
        margin: 0;
        font-size: 62px!important;
        top: -39px!important;
    }


}

@media only screen and (min-width: 600px) {
    body {
        /*height: 1800px;*/
    }
    .nav-div {
        height: 100px;
    }
    .about-us {
        /*text-align: right;*/
        /*padding-right: 20px;*/
        /*font-size: 20px;*/
        /*text-shadow: 5px 8px 13px black;*/
        /*position: absolute;*/
        /*bottom: 4px;*/
        /*right: 28px;*/
    }
    .intro-message h1 {
        max-width: 500px;
        font-size: 8vw;
        /*line-height: 53px;*/
    }
    .message-wrapper h1 {
        font-size: 85px;
        top: -54px;
        left: 11px;
    }
    .message-wrapper p {
        padding: 80px 30px 10px 30px;
        font-size: 30px;
    }
    .land-page-description {
        font-size: 25px;
        line-height: 20px;
        text-align: center;
        margin: 50px auto;
        padding: 0;
    }
    .landing-page-image-1 {
        height: 407px;
    }

    .about-us-img1,
    .about-us-img2,
    .about-us-img3,
    .about-us-img4,
    .about-us-img5,
    .about-us-img6,
    .about-us-img7,
    .about-us-img8{
        height: 350px;
    }
    .customer-queue-wrapper
    {
        font-size: 15px;
        text-align: center;
    }





}

@media only screen and (min-width: 720px) {
    .intro-message h1 {
        font-size: 75px;
        line-height: normal;
    }
    .about-us-img-wrapper {
        width: 100%;
        padding-bottom: 100px;
    }
    .about-us-img1,
    .about-us-img2,
    .about-us-img3,
    .about-us-img4,
    .about-us-img5,
    .about-us-img6,
    .about-us-img7,
    .about-us-img8{
        height: 280px;
        display: inline-block;
        width: 49%;
        margin: 0 0px 0px 5px;
        padding: 0;
    }
    .each-person-img {
        height: 500px;
    }


}

@media only screen and (min-width: 1000px) {

    .nav-div {
        height: 100vh;
        width: 30%;
        position: fixed;
        z-index: 20;
        bottom: 0;
        float: left;
        /*background: -webkit-linear-gradient(#22345a, #233f66);*/
    }
    .extended-nav {
        display: block;
    }
    .hide-big-nav {
        display: block;
        color: white;
        font-size: 40px;
        position: fixed;
        left: 20px;
        bottom: 20px;
    }
    .show-big-nav {
        display: none;
        color: black;
        font-size: 40px;
        position: fixed;
        left: 20px;
        bottom: 20px;
    }
    .menu-icon,
    .x-icon {
        display: none;
        visibility: hidden;
    }

    .body-div {
        width: 70%;
        background-color: white;
        margin-left: 30%;
    }

    .message-wrapper {
        width: 60%;
        margin: 250px auto 135px auto;
        /*background-image: linear-gradient(to bottom right, #f3f1f2, white);*/
    }

    .message-wrapper h1 {
        font-size: 79px;
        top: -52px;
        left: -86px;
    }

    .message-wrapper p {
        font-size: 20px;
    }

    .intro-message {
        margin: 10px auto 160px auto;
        position: absolute;
        left: -185px;
        top: 9px;
        width: 100%;
        z-index: 50;
    }

    .intro-message h1 {
        max-width: 700px;
        width: 100%;
        font-size: 125px;
        line-height: 100px;
        color: var(--color8);
        text-shadow: 1px 2px 3px black;
        border-bottom: 8px solid var(--color9);
    }
    .intro-message h3 {
        text-align: right;
        font-style: italic;
        margin: 5px;
        padding-right: 23%;
    }

    .land-page-description {
        position: absolute;
        bottom: 40px;
        left: 26px;
        font-size: 45px;
        line-height: 44px;
    }
    .landing-page-image-1 {
       width: 70%;
        margin-left: 30%;
        height: 75vh;
    }

    .about-us {
        position: absolute;
        bottom: -30px;
        right: 15px;
    }
    .about-us a {
        font-size: 12px;
    }

    .about-us-img1,
    .about-us-img2,
    .about-us-img3,
    .about-us-img4,
    .about-us-img5,
    .about-us-img6,
    .about-us-img7,
    .about-us-img8 {
        height: 260px;
        width: 47%;
        margin: 10px 0px 0px 2%;
    }
    .everyone-wrapper {
        padding-top: 50px;
        position: relative;
        width: 129%;
        left: -14%;
        height: 1000px;
    }
    .each-person-wrapper {
        width: 33%;
        margin: 90px auto;
        padding: 30px 0 40px;
        float: left;
    }
    .each-person-img {
        height: 350px;
    }

    /*-------------------------------------------------------------------------*/
    /*----------------------------------CUSTOMER-QUEUE-------------------------*/
    /*-------------------------------------------------------------------------*/





}

@media only screen and (min-width: 1500px) {
    .intro-message {
        text-align: center;
        position: absolute;
        top: -4px;
        width: 50%;
        left: 94px;
    }



}





/*-------------------------------------------------------------------------*/
/*----------------------------------TABLES!!!!!!---------------------------*/
/*-------------------------------------------------------------------------*/




    @media only screen and (max-device-width: 800px) {

        /* Force table to not be like tables anymore */
        table, thead, tbody, th, td, tr {
            display: block;
        }

        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        tr {
            margin: 30px auto;
        }


        td {
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 50%;
        }

        td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 0;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }

        /*
        Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
        */
        td:nth-of-type(1):before { content: "Name"; }
        td:nth-of-type(2):before { content: "Department"; }
        td:nth-of-type(3):before { content: "Sign-in Time"; }
        td:nth-of-type(4):before { content: "Est. Wait Time"; }
    }


