<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: head">
    <meta charset="UTF-8" />
    <title>Home</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script type="text/javascript">

        (function(){
            "use strict";

            console.log("hello!");

            // let mobileNav = $('.left-div');

            $('.nav-div').css({
                'color': 'black'
            });

            let leftDiv = document.getElementsByClassName('nav-div');
            console.log(leftDiv);

            leftDiv.style.color = 'black';

        })();

    </script>
</head>
<body>
<nav th:replace="fragments/navbar :: myNav" />



This is the about us section


<nav th:replace="fragments/footer :: footer" />
</body>
</html>