<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: head">
    <meta charset="UTF-8" />
    <title>Home</title>
</head>
<body>


<!--<div class="about-us-1"></div>-->

<div class="about-us-wrapper">

    <div class="about-us-header">
        <h6><a href="/">Go back home</a></h6>
        <h1>HRQueue</h1>
        <div class="process-team"><a href="#">The Process</a><a href="#">The Team</a></div>
    </div>
    <div class="the-process message-wrapper">
        <h1>The Process</h1>
        <p>about</p>

    </div>
    <div class="the-team message-wrapper">

    </div>
</div>


<footer th:replace="fragments/footer :: footer" />



</body>
</html>