<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: head">
    <meta charset="UTF-8" />
    <title>Home</title>
</head>
<body>


<!--<div class="about-us-1"></div>-->

<div class="about-us-wrapper">

    <div class="about-us-header">
        <h6><a href="/">Go back home</a></h6>
        <h1>HRQueue</h1>
        <div class="process-team"><a href="#the-process">The Process</a><a href="#the-team">The Team</a></div>
    </div>
    <div class="description">
    <h4>What is HRQueue?</h4>
        <i class="fas fa-arrow-down"></i><p class="show-more">Show more</p>
        <div class="about-us-hidden-message">
            <p>This project serves as a custom HR software allowing customers to submit cases/requests, providing historical data for administrators in the goal of employing accurate HR departmental help to serve customers. HRQueue project was taken from the CivTechSA list. This program will allow San Antonio employees to sign in when visiting the City of San Antonio Human Resources Department. Customers can fill out required forms (i.e. name, department, reason for visit) as well as add information that HR employee can take into account. An HR Employee can login to view the customer queue, assign cases/requests to themselves, and mark these requests/cases as complete. Finally, an HR Admin can perform all of the HR Employee roles as well as create HR Employee accounts and pull historical reports. The HRQueue web application was built using HTML, CSS, Javascript, Java, MySQL, Spring Boot and Thymeleaf.</p>
            <i class="fas fa-arrow-up"></i><p class="show-less">Show less</p>
        </div>
    </div>
    <div class="message-wrapper the-process" id="the-process">

        <h1>The Process</h1>
        <p>The process started with the team meeting up on a weekend to discuss and agree on what we wanted to provide to the user.
        We established our database tables and wrote a user story to make sure we planned everything out and were on the same page from the very beginning.
            The planning paid off huge because it helped us hit the ground running from the first line of code.
        </p>

            <div class="about-us-img-wrapper">
                <div class="about-us-img1"></div>
                <div class="about-us-img2"></div>
                <div class="about-us-img3"></div>
                <div class="about-us-img4"></div>
                <p>We created wireframes to plan out the user experience and mapping for each page. Every morning we met as a group to know what each of us would do that day. We were able to
                effectively communicate and make this application with a strong team effort.</p>
                <div class="about-us-img5"></div>
                <div class="about-us-img6"></div>
                <div class="about-us-img7"></div>
                <div class="about-us-img8"></div>
            </div>
    </div>
    <div class="message-wrapper the-team" id="the-team">
        <h1>The Team</h1>
        <div class="everyone-wrapper">
            <div class="each-person-wrapper">
                <h2>Adrien Lhemann</h2>
                <div class="each-person-img adrien-img"></div>
                <div class="each-person-desc adrien-desc"></div>
            </div>
            <div class="each-person-wrapper">
                <h2>Jeremy Logan</h2>
                <div class="each-person-img jeremy-img"></div>
                <div class="each-person-desc jeremy-desc"></div>
            </div>
            <div class="each-person-wrapper">
                <h2>Patrick Cowan</h2>
                <div class="each-person-img patrick-img"></div>
                <div class="each-person-desc patrick-desc"></div>
            </div>
        </div>
    </div>
</div>


<footer th:replace="fragments/footer :: footer" />



</body>
</html>