<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: head">
    <meta charset="UTF-8" />
    <title>Comments</title>
</head>
<body>
<nav th:replace="fragments/admin-navbar :: admin-navbar" />

<div class="body-div">
    <div class="page-header dashboard-header"><h1>Your Dashboard</h1></div>
    <div class="cat-dept-wrapper">
        <div class="comments-wrapper">
            <h1>Comments</h1>
            </div>
            <span><a th:href="@{'/rep-admin-dashboard'}"><h6>Click here to go back to the dashboard</h6></a></span>

        <div>
            <p>Customer name: <span th:text="${case.customer_name}"></span></p>
            <p>Case department: <span th:text="${case.department.department}"></span></p>
            <p>Case category: <span th:text="${case.category.category}"></span></p>
            <p>Customer comments: </p><span th:text="${case.customer_comment}"></span>
            <br/>
            <br/>
            <br/>
            <br/>
            <h1>Submit a new comment here.</h1>
        </div>
        <div>
        <form th:method="post" th:object="${commentObject}" th:action="@{'/comment/'+${case.id}+'/create'}">
            <label>Comment:</label>
            <input required="required" id="comment" th:field="*{comment}"/>
            <br/>
            <button class="comment-button">Submit</button>
        </form>
        </div>
        <div>
            <table class="table table-striped comment-table">
                <tr>
                    <th scope="col">Comment</th>
                    <th scope="col">Time</th>
                    <th scope="cole">User</th>
                </tr>
                <tr th:each=" comment : ${caseComments}">
                    <td th:text="${comment.comment}"></td>
                    <td th:text="${comment.commentStamp}"></td>
                    <td th:text="${comment.writer.username}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<nav th:replace="fragments/footer :: footer" />
</body>
</html>