<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: head">
<meta charset="UTF-8" />
<title>Home</title>

<style>



</style>


</head>

<style>

.error-image {
width: 100%;
height: 100vh;
background-image: url("../images/hr-queue-5.jpeg");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
margin: 0;
font-family: 'Poppins', sans-serif;
}
.white-card {
display: inline-block;
width: 80vw;
background-color: black;
margin: 40vh 10vw;
color: white;
text-align: center;
}
.white-card p {
font-size: 20px;
padding: 10px;
}
.white-card a {
color: #ECC919;
text-decoration: none;
}


</style>


<body>

<div class="error-image">
<div class="white-card">
<p>There seems to be an error on our end. Our team is working diligently to solve this issue.</p>
<h1>Click <a href="/">here </a> to go back to HRQueue.</h1>
</div>
</div>


<footer th:replace="fragments/footer :: footer" />

</body>
</html>
