<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: head">
    <meta charset="UTF-8" />
    <title>Home</title>
</head>
<body>
<h1>This is the generation page</h1>


<h1>Generate Users</h1>
<form th:method="post" th:action="@{/generation/userGenerate}">
<label>How many? </label>
<input id="number" name="number" type="text"/>
</br>
<button>GENERATE</button>

    <footer th:replace="fragments/footer :: footer" />

</form>
</body>
</html>