<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: head">
    <meta charset="UTF-8" />
    <title>Home</title>
</head>
<body>


<div class="landing-page-wrapper">

    <div class="menu-icon"><img th:src="@{/images/menu-icon.svg}"/></div>
    <div class="x-icon"><img width="100%" th:src="@{/images/x-circle.svg}"/></div>

    <div class="nav-div">
        <div class="logo">
        </div>
        <p class="land-page-description">A virtual waiting room for HR reps and customers</p>
        <h4 class="about-us"><a href="/about">Find out more  <i class="fas fa-arrow-right"></i></a></h4>
    </div>
    <div class="landing-page-image-1">
        <!--<img width=100% src="/images/hr-queue-7.jpeg"/>-->
    </div>
    <div class="body-div">
        <div class="intro-message">
            <h1>Welcome to HRQueue.</h1>
            <h3>How can we help today?</h3>
        </div>
        <div class="message-wrapper terminal-wrapper">
            <h1>Customer</h1>
            <p>If you are a customer requesting assistance from an HRQueue HR Rep, click here.</p>
            <div class="landing-page-button">
                <a href="/create-case">Create Case</a>
            </div>
        </div>
        <div class="message-wrapper sign-in-wrapper">
            <h1>HR Rep</h1>
            <p>If you are an HRQueue HR Rep or HR Admin, sign in here.</p>
            <div class="landing-page-button">
                <a href="/login">Sign in</a>
            </div>
        </div>
        <div class="message-wrapper display-queue-wrapper">
            <h1>Queue</h1>
            <p>To see the current HRQueue and your estimated waiting time, click here. </p>
            <div class="landing-page-button">
                <a href="/customer-queue">Queue</a>
            </div>

        </div>
    </div>
</div>


<footer th:replace="fragments/footer :: footer" />

</body>
</html>