<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: head">
    <meta charset="UTF-8" />
    <title>Home</title>
</head>
<body>
<nav th:replace="fragments/navbar :: myNav" />


<div class="body-div">
    <h1>Create a case</h1>
    <form th:method="post" th:object="${case}" th:action="@{/create-case}">
        <label>Name</label>
        <input id="customer_name"  th:field="${case.customer_name}"/>
        <br/>
        <label>E-mail</label>
        <input id="customer_email" th:field="${case.customer_email}"/>
        <br/>
        <label>Phone</label>
        <input id="customer_phone" th:field="${case.customer_phone}"/>

        <br/>
        <!--<label for="department">Department</label>-->
        <!--<select id="department" th:field="${case.department}">-->
            <!--<option th:type="hidden" th:each="department : ${allDepartment}" th:value="${department.getId()}" >-->
                <!--<span th:text="${department.department}"></span>-->
            <!--</option>-->
        <!--</select>-->
        <!--<br/>-->
        <!--<label for="category">Category</label>-->
        <!--<select id="category" th:field="${case.category}">-->
            <!--<option th:type="hidden" th:each="category : ${allCategory}" th:value="${category.getId()}">-->
                <!--<span th:text="${category.category}"></span>-->
            <!--</option>-->
        <!--</select>-->
        <br/>
        <label for="customer_comment">Comment
        <textarea id="customer_comment" th:field="${case.customer_comment}"/>
        </label>
        <br/>
        <button>Submit</button>
    </form>
</div>

<nav th:replace="fragments/footer :: footer" />

</body>
</html>