<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: head">
    <meta charset="UTF-8" />
    <title>Home</title>
</head>
<body>
<nav th:replace="fragments/admin-navbar :: admin-navbar" />




<div class="body-div">
    <div class="page-header customer-queue-header"><h1>View the Queue</h1></div>
    <div class="customer-queue-wrapper">
        <table role="table">
            <thead role="rowgroup">
            <tr role="row">
                <th role="columnheader">Name</th>
                <th role="columnheader">Department</th>
                <th role="columnheader">Sign-in time</th>
                <th role="columnheader">Est. Wait Time</th>
            </tr>
            </thead>
            <tbody role="rowgroup" th:each="case : ${allCases}">
            <tr role="row">
                <td role="call"><span th:text="${case.customer_name}"></span></td>
                <td role="call"><span th:text="${case.department.department}"></span></td>
                <td role="call"><span th:text="${case.created_at}"></span></td>
                <td class="est-wait-time" role="call">wait time</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>







<footer th:replace="fragments/footer :: footer" />
<script src="js/queue.js"></script>


</body>
</html>