<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: head">
    <meta charset="UTF-8" />
    <title>Home</title>
</head>
<body>
<nav th:replace="fragments/admin-navbar :: admin-navbar" />


<div class="body-div">

    <div class="page-header dashboard-header"><h1>Your Dashboard</h1></div>
    <div class="cat-dept-wrapper">

        <h1>Are you sure you want to delete this case?</h1>
        <p>Created at: <span th:text="${case.created_at}"></span></p>
        <p>Customer name: <span th:text="${case.customer_name}"></span></p>
        <p>Customer email: <span th:text="${case.customer_email}"></span></p>
        <p>Customer phone number: </p><span th:text="${case.customer_phone}"></span>
        <p>Category: <span th:text="${case.getCategory().getCategory()}"></span></p>
        <p>Department: <span th:text="${case.getDepartment().getDepartment()}"></span></p>


        <a th:if="${user.isAdmin()}"><a th:href="@{'/case/' + ${case.getId()} + '/delete'}"><button class="delete">Yes, delete forever.</button></a>
        <a href="/rep-admin-dashboard"><button class="nevermind">Nope, nevermind..</button></a>
        </a>
    </div>


</div>

<nav th:replace="fragments/footer :: footer" />

</body>
</html>