<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8"/>
    <title>Reports</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Stylish" rel="stylesheet"/>
    <link rel="stylesheet" href="/static/css/main.css" th:href="@{/css/main.css}"/>
</head>

<style>


</style>


<body>
<nav th:replace="fragments/admin-navbar :: admin-navbar" />




<div class="body-div">


    <div id="BarCharts" style="width: 900px; height: 500px;"></div>
    <div id="chart_div" style="width: 900px; height: 500px;"></div>
    <div id="donutchartCasesCreated" style="width: 900px; height: 500px;"></div>
    <div id="donutchartCasesResolved" style="width: 900px; height: 500px;"></div>

    <h1>Performance Metrcis</h1>
    <table id="performanceTable" class="display" >

        <!-- Header Table -->
        <thead>
        <tr>
            <th id="sorting">All</th>
            <th>Avg. Customer Wait Time per Case (Days:Hours:Minutes)</th>
            <th>Avg. Resolve Time per Case (Days:Hours:Minutes)</th>
            <th>Cases Created Today</th>
            <th>Cases Created per Day</th>
            <th>Cases Resolved Today</th>
            <th>Cases Resolved per Day</th>
            <th>Total # of Cases Created</th>
            <th>Total # of Cases Resolved</th>


        </tr>
        </thead>
        <!-- Footer Table -->
        <tfoot>
        <tr>
            <th>Sorting By</th>
            <th>Avg. Customer Wait Time per Case (Days:Hours:Minutes)</th>
            <th>Avg. Resolve Time per Case (Days:Hours:Minutes)</th>
            <th>Cases Created Today</th>
            <th>Cases Created per Day</th>
            <th>Cases Resolved Today</th>
            <th>Cases Resolved per Day</th>
            <th>Total # of Cases Created</th>
            <th>Total # of Cases Resolved</th>

        </tr>
        </tfoot>
    </table>


    <h1>Cases</h1>
    <table id="CasesTable" class="display" >

        <!-- Header Table -->
        <thead>
        <tr>
            <th>Customer Case Submission Date</th>
            <th>Customer</th>
            <th>Representative</th>
            <th>Department</th>
            <th>Category</th>
            <th>Customer Comments</th>
            <th>Reps/Admins Comments</th>
            <th>Customer Wait Time (Days:Hours:Minutes)</th>
            <th>Resolve Time (Days:Hours:Minutes)</th>
            <th>Total Time for Case Completion (Days:Hours:Minutes)</th>

        </tr>
        </thead>
        <!-- Footer Table -->
        <tfoot>
        <tr>
            <th>Customer Case Submission Date</th>
            <th>Customer</th>
            <th>Representative</th>
            <th>Department</th>
            <th>Category</th>
            <th>Customer Comments</th>
            <th>Reps/Admins Comments</th>
            <th>Customer Wait Time (Days:Hours:Minutes)</th>
            <th>Resolve Time (Days:Hours:Minutes)</th>
            <th>Total Time for Case Completion (Days:Hours:Minutes)</th>
        </tr>
        </tfoot>
    </table>
</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="js/moment.js"></script>
<script src="js/reports.js"></script>


</body>


</html>